html {height: 100%}
body {
	background-color: #232328;
	color: #0069E1;
	overflow: hidden;
	text-align: center;
	font-family: consolas;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
input {
	color: #0069E1;
	font-family: consolas;
	transition: border-width.1s, padding.1s
}
input:blank {
	border-color: #E10000;
}
input:not(:focus-visible) {
	border-left-width: 0;
	padding-left: 3px;
	border-right-width: 0;
	padding-right: 3px;
}
input:focus-visible {
	outline: none;
}
.dark-bg {
	background-color: #181818;
}
.light-bg {
	background-color: #232328;
}
.blue-border {
	border: 3px solid #0069E1;
}
.blue-border[height="0"] {
	border-width: 0;
}
#main-panel {
	display: flex;
	flex: 1;
	justify-content: space-between;
}
#ctrl-panel {
	padding: 1em;
	min-width: 20em;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	overflow-y: scroll;
	gap: 1em;
	flex-direction: column;
}
#ctrl-panel canvas {
	flex: 1;
}
#hint {
	position: sticky;
	top: 0;
	flex: none;
	height: 4em;
	min-height: 1em;
	user-select: none;
	z-index: 33;
}
#aux-hint {
	font-size: small;
}
#inputs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
#inputs > .wide {
	grid-column: 1 / span 2;
}
#io-panel {
	height: 10em;
	background-color: #181818;
	display: flex;
	justify-content: space-evenly;
}
#io-panel > div {
	align-self: center;
}
#piano {
	flex-grow: 3;
	margin: 1em;
}
#sound-visualiser {
	margin: 1em;
	flex: 1;
}
.input {
	width: 6em;
	height: 6em;
}
.button {
	width: auto;
	font: 1em consolas;
	color: #0069E1;
	border: 0 solid #0069E1;
	padding: 3px;
	align-self: center;
	background: #181818;
	transition: padding.1s, border-width.1s;
}
.button:hover {
	border-width: 3px;
	padding: 0;
}
.button > svg {
	stroke: #0069E1;
	stroke-width: 4;
	fill: none;
	height: 100%;
	transition: fill.1s;
}
.button:not(.unavailable):not(.red-on-hover):hover > svg {
	fill: #0069E1;
}
.button > div {
	user-select: none;
}
.piano-note {
	position: relative;
	stroke: #0069E1;
	stroke-width: 3;
	fill: #232328;
}
.piano-note:hover {
	fill: #0069E1;
	stroke: #0069E1;
}
.sharp-note {
	fill: #0069E1;
	stroke: #232328;
}
.component {
	fill: #232328;
	stroke: #0069E1;
	stroke-width: 2;
}
.add-wave-button {
	grid-column: 1 / -1;
	width: auto;
}
#error-sign {
	position: fixed;
	right: 0;
	top: 0;
	padding: 1em;
	height: 5em;
	width: 5em;
	stroke: #E10000;
	stroke-width: 4;
	fill: none;
}
#general-ctrl {
	display: flex;
	margin-top: auto;
}
#general-ctrl > * {
	width: auto;
	height: 4em;
	flex: 1;
}
.red-on-hover:hover {border-color: #E10000}
.red-on-hover:hover > svg {
	fill: #E10000;
	stroke: #E10000;
}
#wave-options {
	display: flex;
	flex-direction: column;
}
#wave-options > .button {
	height: auto;
	flex: 1;
}
#tab-list {
	user-select: none;
	display: flex;
	height: 3em;
	justify-content: space-evenly;
}
#tab-list:empty {
	display: none;
}
#tab-list > * {
	flex: 1;
	border: 0 solid #0069E1;
	padding: 3px;
	border-bottom-width: 3px;
	padding-bottom: 0;
	transition: border-width.1s, padding.1s;
}
#tab-list > div:not(.selected):hover, #tab-list > .selected {
	border-width: 3px;
	padding: 0;
	border-bottom-width: 0;
	padding-bottom: 3px;
}
#tab-list > .selected + div:not(.selected):hover, #tab-list > div:not(.selected):hover + .selected {
	border-left-width: 0;
	padding-left: 3px;
}
.undone {
	border-style: dashed;
}
.horizontal-menu {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.horizontal-menu > * {
	flex: 1;
	max-height: 3em;
	min-height: 3em;
	align-self: stretch;
}
.horizontal-menu > div {
	display: flex;
}
.horizontal-menu > button:not(.selected) {
	padding-top: 0;
	padding-bottom: 0;
	border-top-width: 3px;
	border-bottom-width: 3px;
}
.horizontal-menu > button.selected {
	padding-left: 0;
	padding-right: 0;
	border-left-width: 3px;
	border-right-width: 3px;
}
.horizontal-menu * p {
	margin: auto;
}
#plane-settings {
	display: flex;
	align-content: center;
}
#actions {
	height: inherit;
	min-width: 20em;
	padding: 1em;
	box-sizing: border-box;
	overflow-y: scroll;
}
.counter {
	fill: none;
	stroke: #0069E1;
	stroke-width: 4;
	text-anchor: middle;
	cursor: move;
}
.counter > text {
	stroke: none;
	fill: #0069E1;
	user-select: none;
	font-size: larger;
}
.counter > polygon {
	transition: transform.1s;
}
.counter:hover > .upper {
	transform: translate(0, 5%);
}
.counter:hover > .lower {
	transform: translate(0, -5%);
}
.slider {
	fill: none;
	stroke-width: 4;
	stroke: #0069E1;
	text-anchor: middle;
	cursor: move;
}
.slider > path {
	stroke-width: 8;
}
.slider > .inner {
	stroke: none;
	fill: #181818;
	transition: r.1s;
}
.slider:hover > .inner {
	r: 0;
}
.slider > .outer {
	transition: stroke-width.1s;
}
.slider:not(:hover) > .outer {
	stroke-width: 0;
}
.slider text {
	stroke: none;
	fill: #0069E1;
	user-select: none;
	font-size: larger;
	alignment-baseline: central;
}
.switch {
	fill: none;
	stroke-width: 4;
	stroke: #0069E1;
	text-anchor: middle;
	cursor: move;
}
.switch > path {
	stroke-width: 8;
}
.switch > .inner {
	stroke: none;
	fill: #181818;
	transition: r.1s;
}
.switch:hover > .inner {
	r: 0;
}
.switch > .outer {
	transition: stroke-width.1s;
}
.switch:not(:hover) > .outer {
	stroke-width: 0;
}
.switch text {
	stroke: none;
	fill: #0069E1;
	user-select: none;
	font-size: larger;
	alignment-baseline: central;
}
#popup-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 32;
	background-color: rgb(15 15 25 / 0.6);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
#popup-bg > div {
	grid-column: 2;
	grid-row: 2;
	min-width: 20%;
	min-height: 20%;
}
#popup-bg > p {
	grid-column: 2;
	grid-row: 1;
	align-self: end;
}
#popup-bg > button {
	grid-column: 3;
	grid-row: 1;
	align-self: end;
	background-color: transparent;
}
#popup-bg > button > svg:not(:hover) {
	fill: transparent;
}
.horizontal-menu-wrapper > .horizontal-menu {
	width: 80%;
	height: 80%;
	margin: auto;
}
.inner-button-panel {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	height: 80%;
	margin: auto;
}
.inner-button-panel > * {
	height: 80%;
	align-self: center;
}
.unavailable {
	border-style: dashed;
}
#input-settings-panel {
	width: 80%;
	height: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}
.full {
	height: 100%;
	width: 100%;
}
.small {
	width: 3em;
	height: 3em;
}
.extend-inner-button-panel > .inner-button-panel {
	width: 100%;
	height: 100%;
}
